// $opensans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

$nav-light : rgb(175, 177, 238);
$gray-font: rgb(46, 51, 65);
$gray-light: rgb(146, 147, 148); 
$gray-lighter: rgba(146, 147, 148, 0.5); 
$purple-light: rgb(241, 235, 255) ;
$purple-font: rgb(158, 133, 214);
$purple-pri: rgb(144, 96, 249);
$purple-shadow: rgb(144, 96, 249,0.5);