@import './colors.scss';
@import './responsiveness.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .nav {
        div {
            width: 50px;
            height: 5px;
            background: $nav-light;
            margin-bottom: 0.3em;
            border-radius: 10px;

            &.first {
                background: white;
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // height: 80vh;
    // overflow: hidden;

    > .left {
        .loop {
            width: 100%;
            height: 12em;
            overflow: hidden;
    
            img {
                width: 300%;
                height: 300%;
                object-fit: cover;
            }
    
            &.top {
                transform: translateX(200px) rotateX(180deg) rotateY(180deg) ; 
            }
      
            &.btm {
                transform: translate(-200px, 20px)
            }
        }
    
        .cont {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 9em;
            position: relative;
    
            h1 { 
                font-size: 2em;
                color: $gray-font; 
                margin-bottom: 0.8em;
                padding-right: 1em;
            }
    
            > p {
                margin-top: 0;
                color: $gray-light;
            }
    
        }
    
        .cta {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: -5.2em;
            z-index: 100; 
            width: 70%;
            padding-right: 2em;
    
            input[type="email"] {
                width: 60%;
                height: 50px;
                border-radius: 30px;
                border: 0;
                padding-left: 20px;
                outline: none;
                background: $purple-light !important;
    
                &::placeholder {
                    color: $purple-font;
                }
            }
    
            .notify {
                height: 50px;
                width: 30%;
                border-radius: 30px;
                background: $purple-pri;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                
                .left {
                    width: 35px;
                    height: 35px;
                    background: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    img {
                        object-fit: cover;
                    }
                }
    
                .right {
                    color: white;
                    font-size: 0.8em;
                    transform: translateX(-1em);
                }
    
    
            }
        }
    
    }
    > .right {
        width: 100%;
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        color: white;

        > .bg { 
            width: 100%;
            height: 100%;
            object-fit: fill;
            position: absolute;
            z-index: -100;
        }

        // .logo {

        // }

        .left {
            position: absolute;
            bottom: 2em;
            left: 5em;
            width: 40%;
            font-size: 1.4em;
            margin: 0;
        }

        .right {
            position: absolute;
            bottom: 1em;
            right: 1em;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: white;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 100vw;
    // height: 9.4em;
    position: relative;
    overflow: hidden;
    
    .left {
        width: 80%;
        height: 9.8em;
        background: $purple-pri;
        border-radius: 0 100px 0 0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;

        p {
            font-size: 1.5em;
            font-weight: 600;
            margin-right: 20px;
        }

        .socials {
            display: flex;

            .cont {
                width: 30px;
                height: 30px;
                background: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;

                .dark {
                    color: $gray-font;
                }
            }
        }
    }

    .right {
        width: 90%;
        height: 9.8em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        position: relative;

        a {
            font-size: 0.8em;
            color: $gray-font;
            text-decoration: none;

        }

        .copyright {
            color: $gray-lighter;
            font-size: 0.8em;
            position: absolute;
            bottom: 2em; 
            right: 0;
        }
    }

    .loop {
        width: 50%;
        height: 9.4em;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -100;

        img {
            width: 300%;
            height: 300%;
            // object-fit: cover;
        }
  
        &.btm {
            transform: translate(300px,50px) rotateY(180deg); 
        }
    }
}